__pycache__
failed_uploads.pkl
glob_example.ipynb
output
sml_download_output.log
sml_upload_download.egg-info
sml_upload_output.log
uploaded_files.pkl
.DS_Store
.ipynb_checkpoints
__pycache__
failed_uploads.pkl
glob_example.ipynb
output
sml_download_output.log
sml_upload_download.egg-info
sml_upload_output.log
uploaded_files.pkl
